---
import fs from "fs-extra";
import Layout from "../../layouts/Layout.astro";
import { useTranslation } from "../../i18n/utils";
const { lang } = Astro.props;
const t = useTranslation(lang, "contact");
const info = fs.readJsonSync("_cache/homepage.json");
---

<Layout lang={lang} info={info}>
  <div class="max-w-[70ch] m-auto px-4 my-32 text-center">
    <p class="text-4xl font-bold mb-6">{t("Messaggio inviato")} 🙂</p>
    <p>{t("Ti risponderemo il più presto possibile ")}</p>
  </div>
</Layout>
