---
const { post, lang, TitleTag = "h2" } = Astro.props;
import { useTranslation, getLocalizedField } from "../../i18n/utils";
const t = useTranslation(lang, "blog");
---

<article class="flex gap-4 max-w-[500px] group">
  <img
    class="block aspect-[1/1] bg-gray-100 object-cover group-hover:hidden"
    width="120"
    height="120"
    src={`${post?.fields?.cover?.fields?.file?.url}?w=400&h=400&fit=thumb&fm=avif&q=50`}
    loading="lazy"
    alt={post?.fields?.cover?.fields?.title || post.fields?.title}
  />
  <div>
    <TitleTag class="uppercase font-bold text-sm mb-1"
      >{getLocalizedField("fields.title", post, lang)}</TitleTag
    >
    <p class="text-gray-700 text-sm">
      {getLocalizedField("fields.abstract", post, lang)}
    </p>
  </div>
</article>
