@import "tailwindcss";

@theme {
  --color-primary: #d81928;
  --color-brown: #594f48;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .button {
    @apply bg-primary text-white py-3 px-6 font-medium text-sm uppercase;
  }
  .button:hover {
    @apply outline-2 outline-black transition-all;
  }
  .textfield {
    @apply border-2 border-gray-700 py-2 pl-2 pr-2 bg-white focus:outline-primary;
  }
  .label {
    @apply font-bold;
  }
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
}
