---
import fs from "fs-extra";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { useTranslation, getLocalizedField } from "../../i18n/utils";
import Layout from "../../layouts/Layout.astro";
import WidthContainer from "../../components/WidthContainer.astro";

import { SITE_NAME, SITE_SLOGAN } from "../../constants";
const { lang } = Astro.props;
const t = useTranslation(lang, "privacy");
const info = fs.readJsonSync("_cache/homepage.json");
---

<Layout
  lang={lang}
  info={info}
  activeMenuLink="privacy"
  title={`${t("Privacy policy")} - ${SITE_NAME}`}
  description={SITE_SLOGAN}
>
  <WidthContainer>
    <div class="text-center max-sm:mt-8 min-sm:mt-16 max-sm:mb-8 min-sm:mb-16">
      <h1 class="text-4xl min-md:text-5xl font-black mb-4">
        {t("Privacy policy")}
      </h1>
    </div>

    <div
      class="html-fragment mb-16 mt-16 max-w-[70ch] m-auto"
      set:html={documentToHtmlString(
        getLocalizedField("fields.privacyPolicy", info, lang)
      )}
    />
  </WidthContainer>
</Layout>
